<div class="careerTipps">
<h1>Career: Tipps & Tricks</h1>
<p>
Everything you need to know to succeed at your future job!
</p>
&nbsp;
<div class="grid">
  <mat-grid-list  cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="1"><button class="w3-wide" mat-button (click)="openCV()">CV (Curriculum Vitae)</button></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2"><button class="w3-wide" mat-button (click)="openCoverLetter()">Cover Letter</button></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"><button class="w3-wide" mat-button (click)="openJobInterview()">Job Interview</button></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1"><button class="w3-wide" mat-button (click)="openPrep()">Preparation & Research</button></mat-grid-tile>
  </mat-grid-list>
</div>

  <div class="cv" *ngIf="cv">
    <h1>CV (Curriculum Vitae)</h1>
    <h3>What is a CV?</h3><br>
    <p>Your CV, short for curriculum vitae, is a personal marketing document used to sell yourself to prospective employers. It should tell them about you, your professional history and your skills, abilities and achievements. Ultimately, it should highlight why you’re the best person for the job.
      A CV is required when applying for a job. In addition to your CV, employers may also require a cover letter and a completed application form.</p>
    <br>
    <h3>What to include in your CV in 2019</h3>
    <p>While the structure of a CV is flexible, bending to your unique skill set and experiences, there are particular sections that employers expect to see on your CV regardless.
<br>
      <strong> Here are the sections you must include in your CV: </strong>
<br><br>
    <p> <i>Name, professional title and contact details</i><br><br>
    The first part of your CV, positioned at the top of the page, should contain your name, professional title and contact details. Under no circumstances should you title your CV with ‘curriculum vitae’ or ‘CV’ as it’s a waste of valuable space. Treat your name as the title instead.
<br><br>
    When it comes to your contact details, your email address and phone number(s) are essential. Once upon a time, it was customary to include your full address on your CV. Today, you simply need to list your town and county.
<br><br>
    If you like, you can also include a link to your LinkedIn profile in this section – but only if it’s up to date!
<br><br>
    <h3> Personal profile</h3>
   <p> A personal profile, also known as a personal statement, career objective and professional profile, is one of the most important aspects of your CV. It’s a short paragraph that sits just underneath your name and contact details giving prospective employers an overview of who you are and what you’re all about.
<br>
    You should tailor your profile to every job you apply for, highlighting specific qualities that match you to the role. Aim to keep your personal statement short and sweet, and no longer than a few sentences. To make the most of this section, you should try to address the following:
<br><br>
     <strong>Who are you?</strong><br>
     <strong>What can you offer the company?</strong><br>
     <strong>What are your career goals?</strong><br></p>
<br>
    <h3>Experience and employment history</h3>
    <p>Your employment history section gives you a chance to outline your previous jobs, internships and work experience.<br>
    List your experience in reverse chronological order as your recent role is the most relevant to the employer.<br><br>

    When listing each position of employment, state your job title, the employer, the dates you worked and a line that summarises the role. Then bullet point your key responsibilities, skills and achievements, and bolster each point with powerful verbs and figures to support each claim and showcase your impact.<br><br>

      It helps to choose the duties most relevant to the job you’re applying for, especially if it’s a long list. If you have many years’ worth of experience, you can reduce the detail of old or irrelevant roles. If you have positions from more than 10 years’ ago, you can delete them.</p>
<br>
    <h3>Education and qualifications</h3>
    <p>Like your experience section, your education should be listed in reverse chronological order. Include the name of the institutions and the dates you were there, followed by the qualifications and grades you achieved.<br><br>
      If you have a degree, you could list a few of the most relevant modules, assignments or projects underneath.</p>
<br>
    <h3>Additional sections</h3>
    <p>There is a range of additional sections that may strengthen your CV and highlight your skills. Here are just a few you can include if you have room:<br><br>

      <strong>Key skills:</strong> If you’re writing a functional CV, or have some abilities you want to show off to the employer immediately, insert a key skills section underneath your personal profile. You should aim to detail four to five abilities at most.<br><br>

      <strong>Hobbies and interests:</strong> If you feel that your CV is lacking, you can boost your document by inserting a hobbies and interests section at the end. Be careful though; avoid listing hobbies that don’t add value to your CV or are run-of-the-mill, like reading. Draw on interests that make you stand out or are relevant to the job.</p>
    <br><br>
    <i>source: https://www.cv-library.co.uk/career-advice/cv/how-to-write-a-cv-tips-for-2018/</i>
  </div>

  <div class="coverLetter" *ngIf="coverLetter">
    <h1>Cover Letter</h1>
    <p>How to write a cover letter so that everyone who reads it wants to hire you immediately - 5 Tipps & Tricks</p>
    <br>
    <h3>1) Select the Right Type of Cover Letter</h3>
    <p>There are several types of cover letters that can be sent to employers and contacts. For example, there are traditional cover letters (also known as application letters), which are written to apply for specific job openings. There are also letters of interest (also known as prospecting letters), in which you ask about possible job openings at a company.
<br>
      Be sure to choose a type of cover letter that reflects what you are applying for, and what you are requesting</p>
    <br>
    <h3>2) Go Beyond the Resume</h3>
    <p>Your cover letter should not be just another version of your resume. Instead, this letter should provide specific evidence of what you will bring to the company.<br>
      For your letter, pick two to three skills or abilities you want to highlight. Then offer examples of times you demonstrated those traits. These examples are what will make your cover letter different from your resume. For example, if you want to highlight your experience and skill tutoring children, provide an example of a time you successfully tutored a student. You can include a particular teaching moment when you were particularly successful.
<br><br>
      Whenever possible, include numbers to show how you have added value to previous companies you worked for. In the example mentioned above, you might provide data on how your previous students’ grades improved while working with you.
<br><br>
      If you are a recent graduate or otherwise do not have a lot of work experience, you can highlight some of your transferable skills in your resume. Provide evidence from projects, classes, volunteer work, etc. that demonstrates that you have these skills.</p>
    <br>
    <h3>3) Try to Find a Contact Person</h3>
    <p>When it comes to cover letters, taking the time to get personal is really important. Find out as much as you can about the company and the hiring manager.
<br><br>
      Be sure to address your cover letter to the specific hiring manager who will be reading your letter. If you don’t know who that person is, check out the company website, or even call the company and ask.
<br><br>
      If you really can’t figure out who will be reading the letter, address your letter with the greeting, “Dear Hiring Manager.”
<br><br>
      If you have any contacts at the company who referred you to the job or are willing to put in a good word for you, mention their names in the first paragraph of your letter. This is a great way to gain an employer’s interest. However, make sure you have checked with your contacts in advance and asked if they are willing to give you a referral.</p>
    <br>

    <h3>4) Format Your Cover Letter Properly</h3>
    <p>You want your cover letter not only to include the proper information, but also to look polished. Therefore, be sure to format your cover letter properly. If you are sending a physical letter, be sure to use business letter format. Include your contact information, the date, and the contact information of the employer at the top of the letter.
<br><br>
      If you are sending your cover letter as an email, your format will be a bit different. You will also need to include a subject line that mentions your name and the job title.
<br><br>
      A cover letter should not be longer than a page (three to four paragraphs at most). If your cover letter is a bit too long, you can adjust the margins to give yourself more space. However, you want to have plenty of white space in your cover letter, so don’t make the margins too small.
<br><br>
      Also include a space between your greeting, between each paragraph, and after your closing. This will add white space as well. No matter how you send your cover letter, be sure to pick a simple, readable font. </p>
    <br>

    <h3>5) Lastly: Be Yourself!</h3>
    <p>You want your cover letter to be professional. However, this does not mean you have to use awkwardly formal language. Avoid phrases that don’t feel natural, like “Dear Sir or Madam,” or “I wish to convey my sincere interest in a position at your exquisite institution.” Instead, use clear, straightforward language.
<br><br>
      Also avoid clichéd, overused phrases that hiring managers are sick of reading (“go-getter,” “team player,” etc.). Replace those phrases with power words like “initiated” and “collaborated.”
<br><br>
      You want to come across as polite and professional, but not fake. Don’t use language that feels uncomfortable or corny.</p>
    <br><br>
    <i>source: https://www.thebalancecareers.com/top-cover-letter-writing-tips-2060304</i>
  </div>

  <div class="jobInterview" *ngIf="jobInterview">
    <h1>Job Interview</h1>
    <p>Questions that might be asked and how to answer them</p>
    <h3 style="color: #047391">1. "What do you know about our company?"</h3>
    <p>This is one of the most common questions to practice for. You’re very likely to hear it in an early-stage interview, especially a phone interview.

      In the sample answers below, you’ll see that the goal is to show them you’ve done your research and didn’t apply to their company without knowing anything about them.
<br>
      If you don’t seem like you know anything about them, you’ll come across as desperate – somebody who will take any job they can find. And that’s going to make you unattractive to any good employers out there.
<br>
      So when they ask, “what do you know about our company?”, your primary goal is to show you’ve done your research or knew about their company before applying. If you do this, you’ll be fine.</p>
    <h4>Do:</h4>

    <ul>
    <li>  Make sure to research the company before the interview (on their website, their LinkedIn page, and Google)</li>
    <li>  Understand what industry they’re in, what they sell and how they make money</li>
    <li>  Try to have some sense of their company size. Are they 100 employees? More than 10,000 employees?</li>
    <li>  In your answer, show you’ve done research and show that you’re excited about interviewing with their particular company</li>
    </ul>

    <br>
    <h4>Don't:</h4>
    <ul>
      <li>Say you don’t know anything</li>
      <li>Say facts that are incorrect or you aren’t sure about (it’s better to know one or two facts that you can say accurately, than five facts you’re not sure of)</li>
    </ul>
    &nbsp;
    <h3 style="color: #047391">2. How much money are you looking to earn?</h3>
    <p>Unfortunately this question is left off of many lists of job interview questions and answers examples. But it’s extremely important, and the wrong answer here can cost you thousands of dollars in the negotiation later on.
<br><br>
      DON’T say a number. Why? you have the least amount of leverage possible at this point, assuming you’re early in the interview process. You haven’t finished interviewing with them, they don’t know if you’re any good or if they even want to hire you. So you can’t command a high salary right now. If you go too low with your price, they’ll hold you to it later. Go too high? You’ll scare them off before they even know what you’re worth!
&nbsp;
      It’s a lose-lose. Don’t do it. So remember… when you’re preparing what to say in a job interview, especially an early stage interview, salary goals should not be a part of it!</p>
&nbsp;
    <h4>Do:</h4>
    <ul>
      <li>Stand your ground and tell them you don’t have a number in mind yet, or aren’t sure.</li>
      <li>Repeat this multiple times if needed (if they pressure you or “push back” after your first response).</li>
    </ul>
    &nbsp;
    <h4>Don't:</h4>
    <ul>
      <li>Tell them a specific salary you’re hoping for</li>
      <li>Tell them a range you’re hoping for</li>
    </ul>
    &nbsp;
    <h3 style="color: #047391">3. Why should we hire you?</h3>
    <p>Try to talk about them and how you’ll help them. What will be better for them if they hire you? What will you improve for them?
<br><br>
      And show you’ve done your research. Make it clear that you know what this position involves, and you’re ready to perform the tasks.</p>
    &nbsp;
    <h4>Do:</h4>
    <ul>
      <li>Be confident in your skills and abilities</li>
      <li>Talk about specific things you can help them do or achieve if they hire you</li>
      <li>Do your research before the interview and understand their needs, so you can “tailor” your answers and target the specific things they’ll need if they hire you in this role</li>
    </ul>
    &nbsp;
    <h4>Don't:</h4>
    <ul>
      <li>Say “I don’t know”</li>
      <li>Say “You should hire whoever you want”</li>
      <li>Give a generic answer that’d fit any company. You really need to “tailor” this to the specific duties you’ll be performing in THIS specific job. Otherwise your answer will not impress them.</li>
    </ul>
    &nbsp;

    <h3 style="color: #047391">4. Why do you want to work here?</h3>
    <p>If they ask “why do you want this job?”, show you’ve done plenty of research to learn about them before coming in to interview. You want to make them feel like you chose them for a reason. This is very similar to the previous question: “Why did you apply for this position?”
<br><br>
      Show them that you know what that their job involves (at least as much as you could learn from the job description and company website), and that you’re excited to be interviewing for this position.</p>
    &nbsp;
    <h4>Do:</h4>
    <ul>
      <li>Mention specific, work-related reasons why their job and company interest you</li>
      <li>Talk about your own career goals and how this job and company fits those goals</li>
      <li>Sound excited about the opportunity to work for them</li>
      <li>Show you’ve done your research</li>
    </ul>
    &nbsp;
    <h4>Don't:</h4>
    <ul>
      <li>Say, “I have bills to pay and need money”</li>
      <li>Say, “I just need a job”.</li>
      <li>Share any personal details like, “I live 5 minutes away so it would be a very short commute”</li>
    </ul>
    &nbsp;
    <h3 style="color: #047391">5. Tell me about yourself</h3>
    <p>This is one of the most popular interview question and answer examples people look for, because it’s extremely common to hear AND difficult to answer. Here’s how to handle it:
<br><br>
      Keep it professional when answering the question of “tell me about yourself“. You don’t need to share personal details.
<br><br>
      To answer, walk them through your background, starting at how you began your career or your current line of work. Take them through key accomplishments, key career moves you’ve made, and end by sharing what you’re looking to do next in your career and why you’re job hunting.</p>
    <br><br>
    <h4>Do:</h4>
    <ul>
      <li>Focus on sharing your professional story only</li>
      <li>Keep it under 2 minutes</li>
      <li>Walk them through how you got started in your career, key moves you’ve made, and then bring them up to speed on your current situation</li>
    </ul>
    &nbsp;
    <h4>Don't:</h4>
    <ul>
      <li>Share personal details</li>
      <li>Talk for more than 2 minutes</li>
    </ul>
    <br><br>
    <i>source: https://careersidekick.com/what-to-say-in-a-job-interview-questions-and-answers/</i>
  </div>

  <div class="prep" *ngIf="preparation">
    <h1>Preparation & Research</h1>
    <h3>General things you should be prepared for.</h3>
    <br><br>
    <strong>1. Research the organization.</strong>
    <p>This will help you answer questions — and stand out from less-prepared candidates.
Seek background information.
Visit the organization’s website to ensure that you understand the breadth of what they do.
Review the organization's background and mission statement.
Assess their products, services and client-base.
Read recent press releases for insight on projected growth and stability.
Get perspective. Review trade or business publications. Seek perspective and a glimpse into their industry standing.
  Develop a question list. Prepare to ask about the organization or position based on your research.</p>
    <br><br>
  <strong>2. Compare your skills and qualifications to the job requirements.</strong>
<p>Analyze the job description. Outline the knowledge, skills and abilities required.
Examine the hierarchy. Determine where the position fits within the organization.
  Look side-by-side. Compare what the employer is seeking to your qualifications.</p>
    <br><br>
    <strong>3. Prepare responses.</strong>
    <p>Most interviews involve a combination of resume-based, behavioral and case questions. We encourage you to meet with us to practice telling your story in the best possible way.</p>
    <br><br>
    <strong>4. Plan what to wear.</strong>
<p>Go neutral. Conservative business attire, such as a neutral-colored suit and professional shoes, is best.
Err formal. If instructed to dress “business casual,” use good judgment.
Plug in that iron. Make sure your clothes are neat and wrinkle-free.
  Dress to impress. Be sure that your overall appearance is neat and clean.</p>
    <br><br>
    <strong>5. Plan what to bring.</strong>
<p>Extra copies of your resume on quality paper
A notepad or professional binder and pen
A list of references
Information you might need to complete an application
  A portfolio with samples of your work, if relevant</p>
    <br><br>
    <strong>6. Pay attention to non-verbal communication.</strong>
<p>Be mindful. Nonverbal communication speaks volumes.
Start ahead. Remember that waiting room behaviors may be reported.
Project confidence. Smile, establish eye contact and use a firm handshake.
Posture counts. Sit up straight yet comfortably. Be aware of nervous gestures such as foot-tapping.
Be attentive.  Don't stare, but maintain good eye contact, while addressing all aspects of an interviewer's questions.
Respect their space. Do not place anything on their desk.
  Manage reactions. Facial expressions provide clues to your feelings. Manage how you react, and project a positive image.</p>
    <br><br>
    <strong>7. Follow up.</strong>
<p>Many interviews end with “Do you have any questions?”

Bring a list. You may say, “In preparing for today's meeting, I took some time to jot down a few questions. Please allow me to review my notes.”
Be strategic. Cover information not discussed or clarify a previous topic — do not ask for information that can be found on the organization’s website.
In your opinion, what makes this organization a great place to work?
What do you consider the most important criteria for success in this job?
Tell me about the organization’s culture.
How will my performance be evaluated?
What are the opportunities for advancement?
  What are the next steps in the hiring process?</p>
    <br><br>
    <i>source: https://careerservices.princeton.edu/undergraduate-students/interviews-offers/preparing-interviews</i>
  </div>
</div>


