<!-- This HTML file is the portrayal when someone wants to register
on the website, it consists of a 'dialog'-->

<h2 mat-dialog-title>Welcome to STUDIJOBS!</h2>
Please fill in this form to create an Account
<br>
<mat-dialog-content class="mat-typography">
  
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Account Data</ng-template>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" required>

          </mat-form-field>

          <br>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmedPassword" required [errorStateMatcher]="PasswordConfirmationMatcher">
            <mat-error *ngIf="firstFormGroup.hasError('notSame')">
                Passwords do not match
            </mat-error>
          </mat-form-field>
          <div>
            <button style="float: right;" mat-button matStepperNext *ngIf="!firstFormGroup.errors">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Personal Data</ng-template>
          <mat-form-field>
            <input matInput placeholder="Your Company"  formControlName="companyName">
          </mat-form-field>
          <br>
          
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="address">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Phone number" formControlName="phoneNumber">
          </mat-form-field>
          <br>
          <br>
          <mat-form-field>
            <input matInput placeholder="Homepage"  formControlName="homepage">
          </mat-form-field>
          <br>
          <br>
          <mat-form-field>
            <input matInput placeholder="Number of Employees" formControlName="numberOfEmployees">
          </mat-form-field>
          <br>
          <br> 
          <mat-form-field>
            <input matInput placeholder="Business" formControlName="business">
          </mat-form-field>
          <br>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="register()">Register</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  
</mat-dialog-content>
