/*.page-title {
  line-height: 1.1;
  margin: 0 0 15px 0;
  padding: 30px;
  background-color: #333;
  color: papayawhip;
  font-family: sans-serif;

}
*/
.logo{
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

header{
  --header-gradient: linear-gradient(rgba(0,0,0,0.5), rgba(32, 98, 116, 0.7));

  padding: 200px;
  margin: 0 0 0 0;
  background-image: var(--header-gradient), url("../assets/img/fabian-grohs-448419-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

header.myprofile {
  background-image: var(--header-gradient), url("../assets/img/lenny-miles-180752-unsplash.jpg");  
}

header.myjobs {
  background-image: var(--header-gradient), url("../assets/img/myjobs.jpg");  
}

header.aboutus {
  background-image: var(--header-gradient), url("../assets/img/rawpixel-653764-unsplash.jpg");  
}

header.salaryCalculator {
  background-image: var(--header-gradient), url("../assets/img/rawpixel-602154-unsplash.jpg");  
}

header.careerTipps{
  background-image: var(--header-gradient), url("../assets/img/careerTipps.jpg");
}


.header-text {
  text-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

div.menu {
  letter-spacing: 0;
}

mat-expansion-panel-header{
  font-size: medium;
}

mat-card{
  text-align: left;
  padding: 15px 15px 15px 15px;
  margin: 2px 2px 10px 2px;
}

.footer-line {
  border-color: lightgray;
  margin: 0 2em;
}

footer {
  display: flex;
  padding: 1em;
  justify-content: center;
}

footer .mat-button {
  opacity: 0.5;
}

