<div class="main-wrapper">
  <h1 class="page-title">Studentenjobvermittlung</h1>

  <ul>
    <li><button mat-button><a style="color: white;">Home</a> </button></li>
    <li> <button  mat-button (click)="openDialog()"><a style="color: white;">Log In</a> </button></li>
    <li> <button  mat-button><a style="color: white;">Register</a> </button></li>
  </ul>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create a new Job
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-create-job></app-create-job>
    </mat-expansion-panel>

    <mat-card>
      <mat-card-title>Available Jobs</mat-card-title>
      <mat-card>
        <mat-card-title>Front-end engineer</mat-card-title>
        <mat-card-subtitle>40-50%</mat-card-subtitle>
        <mat-card-content>A front-end engineer, also known as a front-end web
          developer or designer, selects, installs and tests the user
          interface elements of a website. The front-end developer focuses
          on the look and feel of the site, along with its functionality.
          Job prospects remain strong for front-end engineers, particularly those
          who have the skills necessary to develop websites that are accessible on mobile devices.
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Apply</button>
        </mat-card-actions>
      </mat-card>
    </mat-card>
  </mat-accordion>

</div>
