<!-- This HTML file resembles the whole website in itself. It consists
of a navigation bar, a header section and the job-creation-expansion panel -->


<!-- Navbar (fixed)-->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" (click)="openJobs()" class="w3-bar-item w3-button"><b>UniBE</b> Studentenjobvermittlung</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <button mat-button>About Us</button>
      <button  mat-button (click)="openDialog()">Log In</button>
    </div>
  </div>
</div>

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">STUDIJOBS</span><br>
    <span class="w3-large">where companies can offer Jobs and Students can apply</span>
    <p><button *ngIf="!userService.getUser()" (click)="openDialog()" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Log In or Sign Up here</button></p>
  </div>
</header>
<app-profile-panel *ngIf="userService.getUser()"></app-profile-panel>

<app-search></app-search>

<app-available-jobs *ngIf="onHomeClicked"></app-available-jobs>
  
