/*.page-title {
  line-height: 1.1;
  margin: 0 0 15px 0;
  padding: 30px;
  background-color: #333;
  color: papayawhip;
  font-family: sans-serif;

}
*/

h1 {
  padding: 100px;
  margin: 0 0 0 0;
  background-image: url("background2.png");
}

/* menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: left;
}

li a, li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li button {
  padding: 0;
  margin: 6px 0;
}

li a:hover, li button:hover {
  background-color: black;
}

li a.logo {
  color: black;
  background-color: white;
  letter-spacing: 3px;
}

.active {
  background-color: lightskyblue;
}

mat-expansion-panel-header{
  font-size: medium;

}
mat-card{
  text-align: left;
  padding: 15px 15px 15px 15px;
  margin: 2px 2px 10px 2px;

}
