<h1 style="text-align:center; font-family:courier;"><ins>Studentenjobvermittlung</ins></h1>
<p style="text-align:center;">Please enter all required information for the Job</p>

<div class="example-container">

  <p style="text-align:center;">
  <mat-form-field>
    <input matInput placeholder="Job Name" [(ngModel)]="todoList.name" name="name">
  </mat-form-field>
  </p>

  <p style="text-align:center;">
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="todoList.description" name="description"></textarea>
  </mat-form-field>
  </p>

  <p style="text-align:center;">
  <mat-form-field>
    <textarea matInput placeholder="Necessary Skills" [(ngModel)]="todoList.necessarySkills" name="necessarySkills"></textarea>
  </mat-form-field>
</p>
</div>

<p align="center">
<button mat-button (click)="onTodoListCreate()">create</button>
<app-todo-list [todoList]="todoList" (destroy)="onTodoListDestroy($event)"
               *ngFor="let todoList of todoLists"></app-todo-list>
</p>
