.mat-dialog-actions{
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
}

mat-form-field {
    display: block;
}

.non-match-warning {
    visibility: hidden;
    font-style: italic;
}

.non-match-warning.show {
    visibility: visible;
}
