a {
  display: block;
  border: 1px solid #04739180;
  color: black;
  max-width: 150px;
  padding: 14px 25px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  background-color: lightgrey;
}
