a {
  display: block;
  background-color: darkgray;
  color: black;
  padding: 14px 25px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  background-color: lightgrey;
}
