<h1>Search for jobs</h1>

<app-search-bar></app-search-bar>



<!-- Job Section -->
<div class="w3-container w3-padding-20" id="availableJobs">
<h1>Search results</h1>
  <div>

    <mat-expansion-panel *ngFor="let job of jobs">
      <mat-expansion-panel-header >
        <mat-panel-title>
          {{job.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-job [showDestroyButton]="isEditable" [job]="job"></app-job>
    </mat-expansion-panel>

    <div class="noResults" *ngIf="jobs.length === 0">
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
      <p class="fat">No job results for your query.</p>
      <p>Suggestions:</p>
      <p>   -  Check if everything is spelled correctly</p>
      <p>   -  Remove activated filters, if possible</p>
      <p>   -  Try more general keywords</p>
    </div>
  </div>
</div>
