mat-card{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: space-evenly;
  text-align: left;
  padding: 15px 15px 15px 15px;
  margin: 2px 2px 10px 2px;

}

.left{
  flex-direction: column;
}

.right{
  align-content: center;
}
