<form class="profile">
  <mat-card>
    <form class="left">
      <mat-card-title>My Profile</mat-card-title>
      <br>
        <mat-card-subtitle>Update your Profile Data</mat-card-subtitle>
        <mat-form-field>
          <input matInput placeholder="Full Name">
        </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Birthday">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Gender">
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{gender.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
    <form class="right">
      <br>
      <br>
      <br>
      <br>
      <br>
      <mat-form-field>
        <input matInput placeholder="Your Company">
      </mat-form-field>

      <br>
      <mat-form-field>
        <textarea matInput placeholder="Describe your Company"></textarea>
      </mat-form-field>
      <br>
      <button mat-button>Submit</button>
    </form>

  </mat-card>
</form>

