<form class = "profile">
  <mat-card>
    <mat-card-title>My Profile</mat-card-title>
    <p>
      <mat-card-subtitle>Update your Profile Data</mat-card-subtitle>
  <mat-form-field>
    <input matInput placeholder="Full Name">
  </mat-form-field>
    </p>
    <br>
    <p>
    <mat-form-field>
      <mat-select>
        <input matInput placeholder="Country"></mat-select>
    </mat-form-field>
    </p>
    <br>
  <mat-form-field>
    <input matInput placeholder="Your Company">
  </mat-form-field>

  <br>
  <mat-form-field>
    <textarea matInput placeholder="Describe your Company"></textarea>
  </mat-form-field>

  </mat-card>
</form>

