<form class="profile">



  <mat-card>

    <form class="left">
      <mat-card-title>My Profile</mat-card-title>
      <br>
        <mat-card-subtitle>Update your Profile Data</mat-card-subtitle>
        
        <br>
      <mat-form-field>
        <input matInput placeholder="Your Company" [(ngModel)]="user.companyName" name="companyName"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('company')">
          Please enter the name of your Company
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput placeholder="Homepage" [(ngModel)]="user.homepage" name="homepage">
          
        </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Business" [(ngModel)]="user.business" name="business"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('business')">
          Please enter the business of your Company
        </mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="user.address" name="address"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('address')">
          Please enter the address of your Company
        </mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <input matInput placeholder="Phone Number" [(ngModel)]="user.phoneNumber" name="phoneNumber">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="user.email" name="email"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>

        <input matInput placeholder="Number of Employees" [(ngModel)]="user.numberOfEmployees" name="numberOfEmployees">
       
      </mat-form-field>



    </form>
    <form class="right">
    <button mat-button (click)="submitChanges()" >Submit changes</button>
    </form>


    <form class="delete">
    <button mat-button (click)="deleteAccount()">Delete Account</button>
    </form>
  </mat-card>
</form>

