<mat-card>
<mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <input matInput placeholder="Jobname" [(ngModel)]="job.name" name="name" (ngModelChange)="onSave()">  <button mat-button (click)="onDestroy()">destroy</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="job.description" name="description" (ngModelChange)="onSave()">
      </mat-form-field>
      <br>
      <mat-form-field>
      <input matInput placeholder="Necessary Skills" [(ngModel)]="job.necessarySkills" name="necessarySkills" (ngModelChange)="onSave()">
    </mat-form-field>
<br>

      <mat-form-field>
        <input matInput placeholder="Percentage (%)" [(ngModel)]="job.percentage" name="percentage" (ngModelChange)="onSave()">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="When?" [(ngModel)]="job.time" name="time" (ngModelChange)="onSave()">
      </mat-form-field>
      <br>
      <!--<form [formGroup]="options">-->
        <!--<mat-checkbox *ngIf="userService.getUser() && (userService.getUser().userType.toString() === 'admin')"-->
                      <!--matInput-->
                      <!--formControlName="approved">-->
                      <!--Approve</mat-checkbox>-->
          <!--</form>-->
      </mat-expansion-panel>
</mat-card>
