 <mat-card>
    <div>
      <mat-card-title>Approve Users</mat-card-title>
    </div>
    <div class="line" *ngFor="let user of users">
      <mat-expansion-panel class="description">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{user.username}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list dense>
          <mat-list-item>Company Name: <br> {{user.companyName}}</mat-list-item><br>
          <mat-list-item>Address: <br> {{user.address}}</mat-list-item><br>
          <mat-list-item>Phone Number: <br> {{user.phoneNumber}}</mat-list-item><br>
          <mat-list-item>Homepage: <br> {{user.homepage}}</mat-list-item><br>
          <mat-list-item>Number of Employees:<br> {{user.numberOfEmployees}}</mat-list-item><br>
          <mat-list-item>Business: <br>{{user.business}}</mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-checkbox [(ngModel)]="user.enabled" (change)="enable(user)" *ngIf="userService.getUser() && (userService.getUser().userType === 'admin')"
      matInput>
      Approve</mat-checkbox>
    </div>
  </mat-card>
