div.box-outside {
  background-color: lightyellow;
  width: 80%;
  margin: auto;
}

div.search-bar {
  width: 75%;
  margin: auto;
  padding: 35px;
}

a {
  color: white;
  background-color: blue;
  padding: 5px;
  margin: 10px;
}
