<div class="search-area">
  <div class="search">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search by job name</mat-label>
      <input matInput id="searchBox" [(ngModel)]="input" (keyup.enter)="search()" size="50">
    </mat-form-field>

    <button color="primary" mat-flat-button id="searchButton" (click)="search()">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <mat-expansion-panel #filterPanel class="filter-panel mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Extended search
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="filter">
      <mat-form-field appearance="outline">
        <mat-label>Search by required skills</mat-label>
        <input matInput [(ngModel)]="necessarySkills" (keyup.enter)="search()" size="20">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Search by job description</mat-label>
        <input matInput [(ngModel)]="description" (keyup.enter)="search()" size="20">
      </mat-form-field>

      <div class="workload">
        Maximum percentage: 0%
        <mat-slider thumbLabel [displayWith]="formatLabel" color="primary" [(ngModel)]="maxPercentage" (change)="search()"
          min="0" max="100" step="5">
        </mat-slider>
        100%
      </div>
    </div>

  </mat-expansion-panel>
</div>