.search-area {
  padding: 2em;
}

.search {
  display: flex;
}

.search-field {
  flex-grow: 1;
}

.filter-panel {
  /*border: 1px solid lightgray;*/
  /*border-radius: 1ex;*/
}

.filter-panel mat-expansion-panel-header {
  width: 200px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter > * {
  width: 30%;
}

button {
  margin: 10px;
}

.workload {
  white-space: nowrap;
}

/* remove bottom spacing -  */
::ng-deep .search-field .mat-form-field-wrapper,
::ng-deep .filter .mat-form-field-wrapper {
  padding-bottom: 0;
}

/* force slider label and thumb to always be visible */
::ng-deep .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}
::ng-deep .mat-slider-thumb {
  transform: scale(0.75) !important;
}
::ng-deep .mat-slider-thumb-label-text {
  opacity: 1 !important;
}
