<mat-form-field>
  <input matInput placeholder="Arbeitsstunden pro Tag" [(ngModel)]="hoursPerDay" type="number" (ngModelChange)="update()" name="hoursPerDay" required>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Stundenlohn" [(ngModel)]="hourly" type="number" (focus)="basis = 'hourly'" (ngModelChange)="update()" [class.current]="basis === 'hourly'"
    name="stundenlohn">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Monatslohn" [(ngModel)]="monthly" type="number" (focus)="basis = 'monthly'" (ngModelChange)="update()" [class.current]="basis === 'monthly'"
    name="monatslohn">
</mat-form-field>

<mat-form-field>
  <mat-select [(value)]="partsPerYear" (selectionChange)="update()" placeholder="Number of parts per year">
    <mat-option [value]=12>12</mat-option>
    <mat-option [value]=13>13</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Jahreslohn" [(ngModel)]="yearly" type="number" (focus)="basis = 'yearly'" (ngModelChange)="update()" [class.current]="basis === 'yearly'"
    name="jahreslohn">
</mat-form-field>
