<app-search-bar></app-search-bar>

<!-- Job Section -->
<div class="w3-container w3-padding-20" id="availableJobs">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Available Jobs</h3>

    <div>
      <mat-expansion-panel *ngFor="let job of jobs">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{job.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-job [showDestroyButton]="isEditable" [job]="job"></app-job>
      </mat-expansion-panel>

    </div>
</div>
