<!-- This HTML file is the portrayal of a 'Job-Creation', it
consists of several input fields, some of them are validated
as required -->

<form class="createjob">
  <div>
    <mat-card>
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"> My created Jobs</h3>
      <h6 class="w3-border-bottom w3-border-light-grey w3-padding-16">(not displayed on website until they get
        approved)</h6>
  

      <div class="line"  *ngFor="let job of jobs">
          <mat-expansion-panel class="description">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{job.name}} <button mat-button (click)="onDestroy(job)">destroy</button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-job [job]="job" (destroy)="onJobDestroy($event)" [showDestroyButton]="true" [editable]="true"></app-job>
          </mat-expansion-panel>
        
         
        </div>

    </mat-card>
  </div>

  <div>
    <mat-card>

      <mat-card-title>
        Create a new Job
      </mat-card-title>
      <mat-card-subtitle>Fields marked with (*) must be filled in</mat-card-subtitle>
      <form #jobForm="ngForm" class="create-job">
        <p>
          <mat-form-field>
            <input matInput #nameInput="ngModel" placeholder="Job Name" required [(ngModel)]="job.name" name="name"
              class="form-control">
            <mat-error *ngIf="nameInput.hasError('required')">
              Job Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <textarea matInput #descriptionInput="ngModel" placeholder="Description" required [(ngModel)]="job.description"
              name="description" class="textarea">
        </textarea>
            <mat-error *ngIf="descriptionInput.hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <textarea matInput placeholder="Necessary Skills" [(ngModel)]="job.necessarySkills" name="necessarySkills"
              class="textarea">
        </textarea>
          </mat-form-field>
        </p>


    <p>
    <mat-form-field>
      <input matInput placeholder="Percentage (%)"
             [(ngModel)]="job.percentage"
             name="percentage">
    </mat-form-field>
  </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="When?"
               [(ngModel)]="job.time"
               name="time">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Contact Information"
               [(ngModel)] ="job.info"
               name="info">
      </mat-form-field>
    </p>
    <p>
      <button mat-button *ngIf="!jobForm.errors" (click)="onJobCreate()">create</button>
      <button mat-button (click)="resetForm()">reset</button>
    </p>
  </form>
</mat-card>
</div>
</form>
