<mat-card>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="todoList.name" name="name" (ngModelChange)="onSave()">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="todoList.description" name="description" (ngModelChange)="onSave()">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Necessary Skills" [(ngModel)]="todoList.necessarySkills" name="necessarySkills" (ngModelChange)="onSave()">
  </mat-form-field>
  <br>
  <button mat-button (click)="onDestroy()">destroy</button>
  <br>
</mat-card>
